	<div class="row">
	  <div class="small-12 columns">
	  	<h1>Maintenance Request Manger</h1>
	  </div>
	</div>

<% if admin_signed_in? %>
	<div class="row">
		<div class="small-5 columns">
			<%= link_to "Manage Pending Maintenance Requests", admin_home_path, class: "button large" %>
		</div>
	</div>
<% else %>
	<div class="row">
		<div class="small-6 columns">
			<%= link_to "Sign In to Manage Pending Requests", new_admin_session_path, class: "button large" %>
		</div>
	</div>
<% end %>