<% if @admin_issues.empty? %>
<div class="row">
	<div class="small-12 columns">
	There are no maintenance requests pending at this time.
	</div>
</div>
<% else %>
	<% @admin_issues.each do |issue| %>
	<div class="row">
		<div class="small-1 columns">
		<%= "#{issue.priority}" %>
		</div>
		<div class="small-11 columns">
			<%= link_to "Manage This Request", "/issues/" + "#{issue.id}" , class: "button large" %>
		</div>
	</div>
	<% end %>
<% end %>
