
<% if current_user.admin? %>
	<div class="row">
		<div class="small-12 columns">
				<h1>Manage Maintenance Requests:</h1>
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns">
		<h3>Priority Level</h3>
		</div>
		<div class="small-3 columns">
		<h3>Building</h3>
		</div>
		<div class="small-3 columns">
		<h3>Tenant Name</h3>
		</div>
		<div class="small-3 columns">
		<h3>Update Request</h3>
		</div>
	</div>
	<div class="issue_status_container">
		<%= render "manage" %>
	</div>
<% else %>
	<div class="row">
		<div class="small-12 columns">
				<h1>Check Your Maintenance Request Status:</h1>
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns">
		<h3>Request Status</h3>
		</div>
		<div class="small-3 columns">
		<h3>Issue Description</h3>
		</div>
		<div class="small-3 columns">
		<h3>Issue Location</h3>
		</div>
		<div class="small-3 columns">
		<h3>Notes</h3>
		</div>
	</div>
	<div class="issue_status_container">
		<%= render "status" %>
	</div>
	<br>
	<div class="row">
		<div class="small-12 columns">
		<%= link_to "Make Another Maintenance Request", new_issue_path, class: "button" %>
		</div>
	</div>
<% end %>
