
<div class="row">
	  <div class="small-12 columns">
	  	<h1>Confirmation # <%= @issue.id %></h1>
	  </div>
</div>
<div class="row">
	  <div class="small-12 columns">
	  <h3>Your request has been submitted successfully.</h3>
		<p>Thank you for alerting us to your issue. We will contact you as soon as we can with a plan to get your maintenance problem solved.</p>
	</div>
</div>


