
<div class="row">
	  <div class="small-12 columns">
	  	<h1>Confirmation # <%= @issue.id %></h1>
	  </div>
</div>
<div class="row">
	  <div class="small-12 columns">
	  <h3>Your request has been submitted successfully.</h3>
		<p>Thank you for alerting us to your issue. We will contact you soon with a plan to get your maintenance problem solved.</p>
	</div>
</div>
<div class="row">
	<%= link_to "Check Status of Pending Issues", issues_path, class: "button" %>
	<%= link_to "Make Another Maintenance Request", new_issue_path, class: "button" %>
	<%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "button" %>
</div>


