<div id="background">
    <img src="http://farm5.staticflickr.com/4022/4268061790_0eb536b25f_o.jpg" class="stretch" alt="" />
</div>


<div class="home-container">

	<div class="row">
	  <div class="small-12 columns">
	  	<h1>Maintenance Request Manger</h1>
	  </div>
	</div>

<% if user_signed_in? %>
<div class="row">
		<div class="small-5 columns">
			<%= link_to "Make a New Maintenance Request", new_user_session_path, class: "button large" %>
		</div>
		<div class="small-1 columns">
		<h2> or </h2>
		</div>
		<div class="small-6 columns">
		<%= link_to "Check Status of Pending Requests", new_user_registration_path, class: "button large"  %>
		</div>
	</div>
<% else %>
	<div class="row">
		<div class="small-6 columns">
			<%= link_to "Sign In to Make a New Request", new_user_session_path, class: "button large" %>
		</div>
		<div class="small-2 columns">
		<h2> or </h2>
		</div>
		<div class="small-4 columns">
		<%= link_to "Sign Up", new_user_registration_path, class: "button large"  %>
		</div>
	</div>
<% end %>

</div>
